body {
    // background-color: green;
    margin: 0;
    padding: 0;
}

// .logo {
//     width: 50%
// }

// main {
//     // background-image: url('imgs/pokeballcollection1.jpg');
//     background-image: url('imgs/pokeballcollection2.jpg');

// }

.pokeContainer {
    // border: 2px solid black;
    margin: 1rem;
    background-color: rgb(255, 255, 255);
}

.navContainer {
    margin-bottom: 20px;
}

.flex-container {
    display: flex;
    // justify-content: space-between;
    // justify-content: center;
    text-align: center;
    justify-content: space-around;
}

.pokeImg {
    // width: 100px;
    // width: 100%;
    width: 80%;
    margin: 0 10%;
    background-color: rgb(192, 192, 192);
    border-radius: 5px;
}

.pokeLogo {
    width: 100%;
}

h3 {
    text-align: center;
}

p {
    width: 50px;
    margin: 0 40%;
    border: 1px solid black;
    border-radius: 11px;
    text-align: center;
    background-color: rgb(95, 158, 160);
    color: rgb(255, 255, 255);
}

ul {
    padding: 0.5rem;
    text-transform: uppercase;
}

ul.menu {
    display: flex;
    text-align: center;
}

li.type {
    // color: black;
    color: white;
    width: 70px;
}

li.ability {
    width: 80px;
}

// .grass {
//     color: white;
//     background-color: rgb(0, 204, 0);
// }

li {
    // border: 2px solid black;
    // width: 100px;
    border-radius: 5px;
    padding: 0.3rem;
    list-style: none;
    margin: 0.5rem;
    // font-size: small;
    font-size: 10px;
    font-weight: 600;
    // color: white;
}

.search {
    display: flex;
    justify-content: center;
}
input.search-bar {
    border-radius: 10px;
    width: 80%;
    margin: 0.5rem;
    background-image: url("imgs/search-icon3.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
    background-origin: content-box;
    margin-bottom: 2rem;
}

.filterByType {
    text-align: center;

    button.filter-btn {
        margin: 3px;
        border-radius: 5px;
        padding: 0.3rem;
        // list-style: none;
        // margin: 0.5rem;
        font-size: 10px;
        font-weight: 600;
        width: 3.2rem;
        
    }

    .grass {
        color: white;
        background-color: rgb(0, 204, 0);
    }
    .fire {
        color: white;
        // background-color: rgb(255, 0, 0);
        background-color: rgb(247 119 6);
    }
    .water {
        color: white;
        background-color: rgb(0, 128, 255);
    }
    .electric {
        color: white;
        background-color: rgb(255, 255, 0);
        text-shadow: #FC0 5px 0 10px;
    }
    .psychic {
        color: white;
        background-color: rgb(255, 153, 153);
    }
    .ground {
        color: white;
        background-color: rgb(204, 204, 0);
    }
    .steel {
        color: white;
        background-color: rgb(192, 192, 192);
    }
    .flying {
        color: white;
        background-color: rgb(102, 178, 255);
    }
    .bug {
        color: white;
        background-color: rgb(153, 153, 0);
    }
    .rock {
        color: white;
        // background-color: rgb(153, 153, 0)
        background-color: rgb(108, 108, 1);
    }
    .fairy {
        color: white;
        background-color: rgb(255, 153, 255);
    }
    .dark {
        color: white;
        background-color: rgb(51, 25, 0);
    }
    .ice {
        color: white;
        background-color: rgb(135, 206, 250);
        // background-color: rgb(204, 255, 255);
    }
    .fighting {
        color: white;
        background-color: rgb(102, 0, 51);
    }
    .dragon {
        color: white;
        background-color: rgb(102, 0, 204);
    }
    .normal {
        color: white;
        background-color: rgb(182, 175, 175);
    }
    .poison {
        color: white;
        background-color: rgb(153, 0, 153);
    }
    .ghost {
        color: white;
        background-color: rgb(76, 0, 153);
    }
    .reset {
        color: white;
        background-color: rgb(0, 0, 0);
    }
    // button.reset {
    //     border-radius: 5px;
    //     padding: 0.3rem;
    //     // list-style: none;
    //     margin: 0.5rem;
    //     font-size: 10px;
    //     font-weight: 600;
    // }
}

button.reset {
    padding: 0.3rem;
}

.sort-method {
    display: flex;
    justify-content: center;
    margin: 2rem 0;
    // border-radius: 5px;

    button.sortAscending {
        margin-right: 10px;
        border-radius: 5px;
        background-color: black;
        color: white;
        // width: 5rem;
    }
    button.sortDescending {
        border-radius: 5px;
        background-color: black;
        color: white;
        // width: 5rem;
    }
}

@media(min-width: 768px) {
    .allPokemonContainer {
        display: flex;
        flex-flow: wrap;

        .pokeContainer {
            width: 30%;
            margin: 0.8rem
        }
    }
    input.search-bar {
        width: 50%;
        height: 1.5rem;
    }

}

@media(min-width: 1024px) {
   .allPokemonContainer {

    .pokeContainer {
        // margin: initial;
        margin: 1rem;
    }
   }

   input.search-bar {
        width: 30%;
        height: 1.5rem;
   }

   .sort-method {
    // font-size: 14px;
    // width: 5rem;
    height: 2rem;

    button.sortAscending {
        width: 5rem;
        font-size: 18px;
    }
    button.sortDescending {
        width: 5rem;
        font-size: 18px;
    }
   }

   .filterByType button.filter-btn {
    font-size: 14px;
    width: 5rem;
    height: 2rem;
   }
}

// .search {
//     display: flex;
//     justify-content: center;


// .search-bar {
//     // background: url('../imgs/search-icon3.png') no-repeat 7px;
//     background-size: 18px;
//     // background-image: url('dist/css/pokemon-logo-png (1).png');
// }
// }