body {
    // background-color: green;
    margin: 0;
    padding: 0;
}

// .logo {
//     width: 50%
// }

// main {
//     // background-image: url('imgs/pokeballcollection1.jpg');
//     background-image: url('imgs/pokeballcollection2.jpg');

// }

.pokeContainer {
    border: 2px solid black;
    margin: 1rem;
    background-color: rgb(255, 255, 255);
}

.flex-container {
    display: flex;
    // justify-content: space-between;
    // justify-content: center;
    text-align: center;
    justify-content: space-around;
}

img {
    // width: 100px;
    width: 100%;
}

h3 {
    text-align: center;
}

p {
    width: 50px;
    border: 1px solid black;
    border-radius: 11px;
    text-align: center;
    background-color: rgb(95, 158, 160);
    color: rgb(255, 255, 255);
}

ul {
    padding: 0.5rem;
    text-transform: uppercase;
}

ul.menu {
    display: flex;
    text-align: center;
}

li.list {
    color: black;
}

li {
    // border: 2px solid black;
    width: 100px;
    border-radius: 5px;
    padding: 0.1rem;
    list-style: none;
    margin: 0.5rem;
    // font-size: small;
    font-size: 10px;
    font-weight: 600;
    color: white;
}

.search {
    display: flex;
    justify-content: center;


.search-bar {
    background: url('../imgs/search-icon3.png') no-repeat 7px;
    background-size: 18px;
    // background-image: url('dist/css/pokemon-logo-png (1).png');
}
}